html {
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}

body {
    background-color: darkgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 400px;    
    width: 300px;
    border: 1px solid black;
    flex-direction: column;    
}
.displayDiv {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 298px;
    padding: 5px;    
    border: solid cyan 1px;
}
.display {
    display: flex;
    flex: 6 0 auto;
    padding: 0 10px 5px 0;    
    justify-content: end;
    align-items: end;
}
.fNum {
    flex: 7 0 auto;
    display: flex;
    justify-content: end;
    padding: 5px 10px 0 0;
}
.operator {
    flex: 3 0 auto;
    display: flex;
    justify-content: end;
    padding: 5px 10px 0 0;
}
.topRowDisplay {
    display: flex;
    flex: 2 0 auto;
}
.buttonsDiv {
    display: flex;
    flex: 6;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
.button, .numberButton, .operatorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: solid black 1px;
    margin: 2px 2px;
}